@use "sass:color"
@import "./variable"

.emby-input,
.emby-textarea
    color: $primary
    background: $background
    border: 1px solid $accent
    border-radius: 0.2em

    &:focus
        border-color: $primary

.emby-select-withcolor
    color: inherit
    background: $accent
    border: 0.07em solid $accent

.emby-select-withcolor > option
    color: inherit
    background: $accent

.emby-select-withcolor:focus
    border-color: $primary !important

.emby-select-tv-withcolor:focus
    background-color: $primary !important
    color: $foreground !important

.emby-checkbox:checked + span + .checkboxOutline
    border-color: $primary

.emby-checkbox:focus + span + .checkboxOutline
    border-color: $foreground

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground
    background-color: $primary

.emby-checkbox:focus:not(:checked) + span + .checkboxOutline
    border-color: $primary

.sectionTitle
    color: $primary

.sectionTitleTextButton
    color: $primary

.emby-button.show-focus:focus
    background: $primary
    color: $foreground

.emby-button.detailFloatingButton
    background-color: $primary
    color: $foreground

.layout-tv .emby-button.detailFloatingButton:focus
    background-color: #f2f2f2
    color: $primary

.button-link
    color: $primary

.emby-button.show-focus:focus
    background: $primary
    color: #fff

.emby-tab-button
    margin: 0.2em 0.5em
    border-radius: 1em
    color: $primary !important
    background-color: $accent !important

.emby-tab-button-active
    color: color.scale($primary, $lightness: -30%)

.emby-tab-button.show-focus:focus
    color: $primary

.emby-tab-button:hover
    color: $accent !important
    background-color: $primary !important

.countIndicator, .fullSyncIndicator, .mediaSourceIndicator, .playedIndicator
    background: $primary
    color: $background

.defaultCardBackground1
    background-color: color.scale($primary, $lightness: -80%)

.defaultCardBackground2
    background-color: color.scale($primary, $lightness: -70%)

.defaultCardBackground3
    background-color: color.scale($primary, $lightness: 60%)

.defaultCardBackground4
    background-color: color.scale($primary, $lightness: -50%)

.defaultCardBackground5
    background-color: color.scale($primary, $lightness: -40%)

.backgroundContainer,
.dialog,
.nowPlayingPlaylist,
.nowPlayingContextMenu,
html
    background-color: #000

.wizardStartForm,
.ui-corner-all,
.ui-shadow
    background-color: #000

.noBackdropTransparency .detailPageSecondaryContainer
    background-color: #000

.mainDrawer,
.drawer-open
    background-color: #000
