@import "./variable.sass"

::-moz-selection
    background: $primary
    text-shadow: none

::selection
    background: $primary
    text-shadow: none

.force-scroll
    overflow-y: auto
    overflow-x: hidden

@import "./login"